<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Authentification</title>
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
<link rel="stylesheet" href="../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<div class="col-md-2 col-md-offset-5 spacer40">
		<div class="panel panel-primary">
			<div class="panel-heading">Problème d'autorisations</div>
			<div class="panel-body">
			  	<div class="red">Vous n'avez pas le droit d'accéder à cette ressource</div>
			</div>
		</div>
	</div>
</body>
</html>